.stack-work/
network-uri-lenses.cabal
.ghc.environment*
dist*
.#*
result
*.mp4
*.mp3
*.mkv
TAGS
.bash_history
.cabal
.stack

ppa/bin
cut-the-crap_1.0.0_amd64.deb

*.wav
*.raw
*.bin
package.yaml
*.chi
*.chs.h
src/Cut/SphinxBindings.hs